$cv-body-color:#00487c;
$cv-header-color:#ffffff;
$cv-index-color:#ff0000;
$cv-section-color:#8db8d7;
$cv-section-font-color: #f3faff;
$tuenti-color-principal: #007AC2;
$tuenti-color-secundario: #808080;